.pagination {
    display: flex;
    gap: 8px;
}

.button {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-border);
    border-radius: 999px;
    background: transparent;
    color: var(--color-text-primary);
    transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}

.button:hover:not(:disabled),
.button:focus-visible:not(:disabled) {
    background-color: var(--color-text-primary);
    color: var(--color-bg);
    border-color: transparent;
}

.button svg {
    width: 16px;
    height: 16px;
}

.button:disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

@media (min-width: 1440px) {
    .button {
        width: 40px;
        height: 40px;
    }


    .button svg {
        width: 16px;
        height: 16px;
    }
}