.pageWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 40px;
}

@media (min-width: 768px) {
    .pageWrapper {
        gap: 16px;
        margin-bottom: 32px;
    }
}



@media (min-width: 1440px) {
    .pageWrapper {
        flex-direction: row;
        align-items: flex-start;
    }

    .pageWrapper> :first-child {
        width: 353px;
        flex-shrink: 0;
    }

    .pageWrapper> :last-child {
        flex: 1;
        min-width: 0;
    }
}