.sidebar {

    background: var(--color-surface);
    border-radius: 30px;
    overflow: hidden;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.layout {
    margin-bottom: 40px;
}

.recommended {
    margin-top: 10px;
    padding: 40px 20px;
    background: var(--color-surface);
    border-radius: 30px;
    min-height: 382px;
}

.recommendedHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 22px;
}

.recommendedHeader h2 {
    font-size: 20px;
    font-weight: 700;
}

.booksList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.booksList>* {
    width: calc((100% - 20px) / 2);
}

@media screen and (min-width: 768px) {

    .layout {
        margin-bottom: 32px;
    }

    .sidebar {
        flex-direction: row;
        padding: 32px;
        gap: 32px;

    }

    .sidebar> :first-child {
        flex: 0 0 295px;
    }

    .sidebar> :last-child {
        flex: 0 0 313px;
    }

    .booksList>* {
        width: calc((100% - 75px) / 4);
    }

    .recommended {

        padding: 40px;
        margin-top: 16px;
        min-height: 663px;
    }

    .booksList {

        row-gap: 27px;
        column-gap: 25px;
    }
}



@media screen and (min-width: 1440px) {

    .layout {
        display: flex;
        gap: 16px;
        align-items: flex-start;
        margin-bottom: 18px;
    }





    .sidebar {
        display: flex;
        flex-direction: column;
        width: 353px;
        padding: 40px 20px 20px;
        gap: 20px;
        flex-shrink: 0;
    }

    .sidebar> :first-child,
    .sidebar> :last-child {
        flex: none;
        width: 100%;
    }

    .recommended {
        flex: 1;
        margin-top: 0;
        padding: 40px 40px 28px 40px;
        min-height: 652px;
    }

    .booksList {
        column-gap: 20px;
        row-gap: 28px;
    }

    .booksList>* {
        width: calc((100% - 80px) / 5);
    }

    .recommendedHeader h2 {
        font-size: 28px;
    }

    .recommendedHeader {
        margin-bottom: 28px;
    }
}